.header{width: 100%;padding:20px 0;background: url(../images/pic2.jpg) no-repeat center center;}
.color-white{color: #fff;}
h3.title{font-size: 40px;text-transform: uppercase;text-align: center;margin-bottom: 35px;color: #10A7AF;}
h3.title:after,h3.title:before{border: 4px double #c2c2c2;width: 120px;display: inline-block;content: "";margin: 9px 10px;}
#about-me,#contact-me,#my-blog{padding-top: 80px;border-bottom: 5px solid #E4E4E4;}
.map{width: 100%;background: url(../images/map.jpg) no-repeat center 180px;padding-top: 40px;}
p.abt-para{color: #464646;line-height: 2.2em;text-align: center;font-size: 14px;width: 75%;margin: 0 auto 50px;}
.pad-t40{padding-top: 40px;}
.swiper-container {width: 1060px;height: 800px;} 
.swiper-container img{display: block;width: 100%;}
.swiper-pagination{padding-bottom: 10px;}